.btn {
  text-align: center;
  border-radius: 40px;
}

.button2 {
  width: 5%;
  height: 60px;
  border-radius: 40px;
}

.button1 {
  width: 5%;
  height: 30px;
  border-radius: 40px;
}

.button2 {
  width: 5%;
  height: 60px;
  border-radius: 40px;
}

.button3 {
  width: 5%;
  height: 30px;
  border-radius: 40px;
}
